// fonts
$font-main: "Roboto Slab", serif;


// colors
$color-main: #ffffff;
$color-footer: #555555;
$color-secondary-main: #d9e4cc;
$color-main-button: #6c933e;
$color-font: #000000;
$color-secondary-font: #a4a4a4;
$color-main-font: #749147;




