.header {
  &-tittles {
    display: flex;
    justify-content: center;
  }

  &-menu {
    position: fixed;
    top: 0;
  }

}
.header-background {
  width: 100%;
  
    
  &-image {
    width: 100%;
  }
  
  
}

