@use "../core/variables" as vars;

.header {
  position: relative;
  top: 0;
  

  &-tittles {
    position: absolute;
    bottom: 15%;
    z-index: 1;
    font-family: vars.$font-main;
    &-first {
      color: vars.$color-main;
    }
    &-second{
      color: vars.$color-main-font;
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    background-color: vars.$color-main-button;
  }

}
.header-image {
  width: 100%;
  
  
  
}

