@use "../core/variables" as vars;

.hero {
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  height: 100vh;
  
  &-tittles {
    font-family: vars.$font-main;
    text-align: center;
  
  &-first {
    color: vars.$color-main;
    font-size: 30px;
    }
    &-second{
      color: vars.$color-main;
      font-size: 16px;
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    background-color: vars.$color-main-button;
    width: 36px;
    height: 36px;
    padding: 10px;
  }

}
  
  
  


