<footer class="footer" id="bottom">
    <div class="footer-arrow">
      <img src="/images/ico-arrow.svg" alt="Flecha">
      <a href="index.html #top">Volver al inicio</a>
    </div>
    <section class="footer-list">
      <ul>
       <li>ZAPATILLAS</li>
       <li>ROPA</li>
       <li>NIÑO/A</li>
       <li>DESTACADOS</li>
       <li>TIPS</li>
      </ul>
      <ul>
       <li>TWITTER</li>
       <li>INSTAGRAM</li>
       <li>YOUTUBE</li>
      </ul>
    </section>
    <section>
      <p>&copy;2023</p>
      <p>we <img src="" alt="heart icon"> run</p>
    </section>
</footer>