<header id="top">
    <section>
      <div class="header-image">
        <img src="/images/cover.jpeg" alt="niña jugando al fútbol">
      </div>
      <div class="header-menu">
        <img src="/images/ico-menu.svg" alt="Menú">
        <a href="https://adalab.es">Página web Adalab</a>
      </div>
      <div class="header-tittles">
        <h1 class="header-tittles-first">COMIENZOS COMPARTIDOS</h1>
        <h2 class="header-tittles-second">Todo lo que necesitan para volver al cole con ilusión</h2>
        <button class="header-button">
          <a href="index.html #bottom">Ir al final de la página</a>
        </button>
      </div>
    </section>
  </header>
