<header id="top">
    <section class="header">
      <div class="header-background">
        <img class="header-background-image" src="/images/cover.jpeg" alt="niña jugando al fútbol">
      </div>
      <div class="header-menu">
        <img src="/images/ico-menu.svg" alt="Menú de hamburguesa">
        <a href="https://adalab.es">Página web Adalab</a>
      </div>
      <div class="header-tittles">
        <h1>COMIENZOS COMPARTIDOS</h1>
        <h2>Todo lo que necesitan para volver al cole con ilusión</h2>
        <button class="header-button">
          <a href="index.html #bottom">Ir al final de la página</a>
        </button>
      </div>
    </section>
  </header>
