<main>
  <section class="main-hero">
    <h2>¡Prepáralos con tus marcas favoritas!</h2>
    <h1>VUELTA AL COLE</h1>
  </section>
  <section>
    <article>
      <img src="/images/lpbts-mod05-img01-desk.png" alt="niña con mochila">
      <p>Mochilas escolares</p>
    </article>
    <article>
      <img src="/images/lpbts-mod05-img04-mob.png" alt="Niño">
      <p>Estuches</p>
    </article>
    <article>
      <img src="/images/lpbts-mod05-img03-mob.png" alt="Niña sonriendo">
      <p>Bolsas de deporte</p>
    </article>
  </section>
  <button>
    <p>Empezar</p>
  </button>
</main>
