<main>
  <section class="first-main">
    <h2 class="first-main-tittle2">HISTORIAS, MODA Y ROPA DEPORTIVA</h2>
    <h1 class="first-main-tittle1">TU TIENDA DE DEPORTE</h1>
    <p class="first-main-text">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
    <button class="first-main-button">
      <p>Comprar</p>
    </button>
  </section>
  
  <section class="second-main">
    <div class="second-main-hero">
    <h2 class="second-main-hero-t1">¡Prepáralos con tus marcas favoritas!</h2>
    <h1 class="second-main-hero-t2">VUELTA AL COLE</h1>
    </div>
    
    <div class="second-main-articles">
      <article>
        <img class="second-main-image" src="/images/lpbts-mod05-img01-desk.png" alt="niña con mochila">
        <p class="second-main-text">Mochilas escolares</p>
      </article>
      <article>
        <img class="second-main-image" src="/images/lpbts-mod05-img04-mob.png" alt="Niño">
        <p class="second-main-text">Estuches</p>
      </article>
      <article>
        <img class="second-main-image" src="/images/lpbts-mod05-img03-mob.png" alt="Niña sonriendo">
        <p class="second-main-text">Bolsas de deporte</p>
    </div>
    
    </article>
    <button class="second-main-button">
      <p>Empezar ahora</p>
    </button>
  </section>
  
</main>
